@require '~vuetify/src/stylus/settings/_colors'

$theme := {
  primary:     $blue-grey.darken-2
  accent:      $yellow.lighten-1
  secondary:   $grey.lighten-4
  info:        $blue.darken-3
  warning:     $amber.darken-2
  error:       $red.accent-4
  success:     $green.lighten-2
}

$body-font-family = "News Cycle", sans-serif
$heading-font-family =  "News Cycle", sans-serif

@require '~vuetify/src/stylus/main.styl'

body {
  font-family: "News Cycle", sans-serif
  font-weight: 300
  font-style: normal
}

.page
  @extend .fade-transition

html, body
  font-family: "News Cycle", sans-serif
  font-weight: 300
  font-style: normal

h1, h2, h3, h4, h5, h6
  font-family: "News Cycle", sans-serif
  font-weight: 300
  font-style: normal

i, .material-icons, .fa, fab, .far, .fas
  vertical-align: middle
