<template lang="pug">
v-layout
	.big
	.hero-text.d-flex-column
		h1
			i.fas.fa-university.fa-5x
		h1.display-2.my-3 Heavy Metals
		h1.display-1.mb-3 Brass Instruments
		v-flex.d-flex

			v-btn.mt4(large color="secondary" to="/euphonium") Pindamonhangaba	

			v-btn.mt4(large color="blue-grey darken-3" to="/vuvuzela") Itaquaquecetuba
</template>

<style>

body, html {
		height: 100%;
}

h1 {
	font-size: 35px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.big {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url( '../assets/images/nyccourts.jpg') no-repeat center center;
	background-size: cover;
	/* background-color: #6699cc; */
		/* background-blend-mode: muliply; */
		filter: opacity(50%) grayscale(100%);
	}

.inscribe {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

</style>
