<template lang="pug">
v-layout
	.bg
	.hero-text.d-flex-column
		i.material-icons.md-84 all_inclusive
			.display-2 Cidade de San Pavlov
		h1.mt-3 Instituto O Sambojano
		v-btn.mt-4(large color="blue-grey darken-3") Saber Mais	 
</template>

<style>
v-container {
	height: 100vh;
}

v-card-text {
	font-size: 25px !important;
}

v-card-title {
	text-shadow: 10px 10px #6699cc;
}

v-card {
	width: 300px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.bg	 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url( '../assets/images/vintage-test-one.jpg') no-repeat center center;
    background-size: cover;
    background-color: #6699cc;
	background-blend-mode: muliply;
	filter: opacity(30%) grayscale(100%);
  }

.inscribe {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

</style>
