<template lang="pug">
v-layout
	.bg
	.hero-text.d-flex-column
			h1 Insomniac City
			h2.mb2 Finding Work in Old New York
			v-btn.mt4(large color="blue-grey") Call Uber
</template>

<style>

body, html {
		height: 100%;
}

h1 {
	font-size: 35px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url( '../static/brooklyn-bridge-mural.jpg') no-repeat center center;
    background-size: cover;
    background-color: #6699cc;
		background-blend-mode: muliply;
		filter: opacity(50%);
  }

.inscribe {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

</style>
