<template lang="pug">
v-container(fluid)
	v-layout(align-end justify-center)
		v-flex
			v-row
				v-col
					v-card(max-width="400" outlined)
						v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
							v-card-title.headline.align-start.fill-height Vuetify-Nuxt
						v-card-text
							| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus

						v-card-actions.text-center
								v-btn.mx-3(text color='blue-grey darken-2')
									| Compartilhar
								v-btn(text color='yellow lighten-4 black--text')
									| Navegar

		v-col
			v-card(max-width="400" outlined)
				v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
					v-card-title.headline.align-start.fill-height San Pavlov City
				v-card-text
					| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus
				v-card-actions.text-center.p-2
						v-btn.mx-3(text color='blue-grey darken-2')
							| Compartilhar
						v-btn(text color='yellow lighten-4 black--text')
							| Navegar
</template>
<style>

v-container {
	height: 100vh;
}

v-card-title {
	text-shadow: 10px 10px #6699cc;
}

v-card {
	width: 300px;
}

</style>
